<div class="p-4">
    <h3 class="mb-4">Confirmar Pago</h3>
    <div class="form-group">
        <label>Token de 6 Digitos</label>
        <input type="text" v-model="confirmacion.token" maxlength="6" class="form-control" />
    </div>
    <div class="form-group">
        <button class="btn btn-success" @click="confirmarPago">Confirmar</button>
    </div>
</div>