<div class="p-4">
    <h3 class="mb-4">Conslutar Saldo</h3>
    <div class="form-group">
        <label>Documento</label>
        <input type="text" v-model="cliente.documento" class="form-control" />
    </div>
    <div class="form-group">
        <label>Celular</label>
        <input type="text" v-model="cliente.celular" class="form-control" />
    </div>
    <div class="form-group">
        <button class="btn btn-success" @click="consultarSaldo">Consultar</button>
    </div>
</div>