<!DOCTYPE html>
<html>
<head>
	<title>VUEJS + TWIG + SOAP + REST + CODEIGNITER</title>
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
	<style>
	</style>
	<script src="/assets/js/axios.min.js"></script>
	<script src="/assets/js/vue.min.js"></script>
</head>
<body>
	<div class="container py-5">
		<div id="app" class="py-5">
			<div class="row d-flex align-items-stretch">
				<div class="col-4 px-4">
					<div class="p-3">
						<a href="/" class="btn btn-{% if template=='' %}primary{% else %}secondary{% endif %} btn-lg btn-block">Inicio</a>
					</div>
					<div class="p-3">
						<a href="/registrarcliente" class="btn btn-{% if template=='registro' %}primary{% else %}secondary{% endif %} btn-lg btn-block">Registrar Cliente</a>
					</div>
					<div class="p-3">
						<a href="/recargarbilletera" class="btn btn-{% if template=='recarga' %}primary{% else %}secondary{% endif %} btn-lg btn-block">Recargar Billetera</a>
					</div>
					<div class="p-3">
						<a href="/consultarsaldo" class="btn btn-{% if template=='consulta' %}primary{% else %}secondary{% endif %} btn-lg btn-block">Consultar Saldo</a>
					</div>
					<div class="p-3">
						<a href="/realizarpago" class="btn btn-{% if template=='pago' %}primary{% else %}secondary{% endif %} btn-lg btn-block">Realizar Pago</a>
					</div>
					<div class="p-3">
						<a href="/confirmarpago" class="btn btn-{% if template=='confirma' %}primary{% else %}secondary{% endif %} btn-lg btn-block">Confirmar Pago</a>
					</div>
				</div>
				<div class="col-8 p-3">
					<div class="p-4 border border-secondary h-100">
						{% if template != '' %}
						{{include("#{template}.twig")}}
						<div class="px-4"><modal-message  v-bind="serverResponse" :class="'alert '"></modal-message></div>
						{% else %}
						<h1 class="display-4 text-center mt-5 pt-5">VueJS + Twig Front</h1>
						<p class="text-center text-secondary mt-5">Por favor seleccione una accion</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/assets/js/app.js"></script>
</body>
</html>