<div class="p-4">
    <h3 class="mb-4">Realizar Pago</h3>
    <div class="form-group">
        <label>Documento</label>
        <input type="text" v-model="cliente.documento" class="form-control" />
    </div>
    <div class="form-group">
        <label>Id de la Compra</label>
        <input type="text" v-model="pago.compra" class="form-control" />
    </div>
    <div class="form-group">
        <label>Monto de la Compra $</label>
        <input type="number" v-model="pago.monto" class="form-control" />
    </div>
    <div class="form-group">
        <button class="btn btn-success" @click="realizarPago">Pagar</button>
    </div>
</div>