<div class="p-4">
    <h3 class="mb-4">Recargar Billetera</h3>
    <div class="form-group">
        <label>Documento</label>
        <input type="text" v-model="cliente.documento" class="form-control" />
    </div>
    <div class="form-group">
        <label>Celular</label>
        <input type="text" v-model="cliente.celular" class="form-control" />
    </div>
    <div class="form-group">
        <label>Valor $</label>
        <input type="number" v-model="recarga.valor" class="form-control" />
    </div>
    <div class="form-group">
        <button class="btn btn-success" @click="recargarBilletera">Recargar</button>
    </div>
</div>