<div class="p-4">
    <h3 class="mb-4">Registrar Cliente</h3>
    <div class="form-group">
        <label>Nombres</label>
        <input type="text" v-model="cliente.nombres" class="form-control" />
    </div>
    <div class="form-group">
        <label>Documento</label>
        <input type="text" v-model="cliente.documento" class="form-control" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" v-model="cliente.email" class="form-control" />
    </div>
    <div class="form-group">
        <label>Celular</label>
        <input type="text" v-model="cliente.celular" class="form-control" />
    </div>
    <div class="form-group">
        <button class="btn btn-success" @click="registrarCliente">Registrar</button>
    </div>
</div>